<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>Pokedex</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="container">
        <h1>Pokedex</h1>
        <ul id="pokedex">
            <% pokemons.forEach(function(pokemon) { %>
               <li>
                   <a href="/pokemons/<%= pokemon.id %>"><%=pokemon.nome%></a> - <%= pokemon.tipo %>
               </li>
            <% }); %>
        </ul>
    </div>

    <div class="container">
        <h1>Cadastro de Pokemon</h1>
        <form id="formCadastro">
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome" required>

            <label for="tipo">Tipo:</label>
            <input type="text" id="tipo" name="tipo" required>

            <button type="submit">Cadastrar</button>
        </form>

        <div id="message"></div>
    </div>

   
    <div class="container">
        <a id="btnCadastroTreinador" href="/cadastro-treinador">Cadastrar Treinador</a>
    </div>
    

    <script>
       
        document.getElementById('formCadastro').addEventListener('submit', async function (event) {
            event.preventDefault(); 

            const nome = document.getElementById('nome').value;
            const tipo = document.getElementById('tipo').value;

            try {
               
                const response = await fetch('/pokemons', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ nome, tipo }),
                });

                if (response.ok) {
                    window.location.reload(); 
                } else {
                    document.getElementById('message').innerText = 'Erro ao cadastrar Pokémon';
                }
            } catch (error) {
                console.error('Erro:', error);
                document.getElementById('message').innerText = 'Erro ao cadastrar Pokémon';
            }
        });
    </script>
</body>
</html>
