<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <title><%= treinador.nome %></title>
    </head>

    <body>
        <h1><%= treinador.nome %></h1>
        <p>Tipo: <%= treinador.poke %></p>
        <a href="/">Voltar a lista de treinadores</a>
    </body>
</html>